/* .handle:hover {
  cursor: grabbing;
}

.whole {
  color: "green";
  padding: 10px;
  border: 1px solid black;
  width: 20%;
}
#start {
  margin: "20%";
  display: inline;
}

#end {
  margin: "20%";
  display: inline;
} */
.drag:hover {
  cursor: grab;
}

.drag:active {
  cursor: grabbing;
}
